body {
    margin: 0px;
    background-image: url(img/DEback.jpg);
    background-size:fill;
    background-size: 100%;
    background-attachment:fixed;
}

h2{
    margin-top: 20px;
    font-weight: bold;
}

/*-------------------------header-------------------------*/
div#container div a{
    
    transition: color .2s ease-out;
    color: whitesmoke;
    font: 20px "Roboto Mono", monospace;
}
div#container div{
    padding-top: 10px;
}
div#container div h1{
    color: white;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-family: 'Montserrat';
    font-size: 32px;
    font-weight: 200;
}
div#container div h1 span{
    font-weight: 700;
}
#container{
    width:100%;
    height: 60px;
    top: 0px;
    background-color: #333333;
}
#left{
    float:left;
    width:auto;
    padding-left: 20px;
    margin-top: 8px;
}
#left a:hover{
    transition: color .2s ease-out;
    color: rgba(101, 216, 245, 0.308);
}
#right{
    float:right;
    width:auto;
    padding-right: 20px;
    margin-top: 8px;
}
#center{
    margin:0 auto;
    width:170px;
}

/*-----------------bemutatkozas----------------------*/
div#bemutatkozas{
    background-color: rgba(5, 72, 88, 0.308);
    border-radius: 12px;
    padding: 20px;
}
div#bemutatkozas p{
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
}
div#mainbox{
    width: 70%;
    background-color:rgba(101, 216, 245, 0.308);
    border-radius: 10px;
    margin: auto auto;
    margin-top: 5%;
    margin-bottom: 10%;
    padding: 2%;
} 
div#mainbox {
    font: 18px "Roboto Mono", monospace;
    color: rgb(0, 0, 0);
}

div#tagok div{

    text-align: center;
}
div#tagok div img{
    width: 200px;
}
div#mainbox img{
    border-radius: 12px;
}




#iskola:hover {
    transition: color .2s ease-out;
    color:rgb(4, 50, 61);
}

#ido 
{
    float: right;
    color:lightgray;
}
.modal fade{
    background-color: tomato;
}

.nevGombok{
    border-radius: 12px;
}
.kisKep{
    height: 70px;
    width: 70px !important; 
    margin-left: 20px;
}
#iskolank{
    margin-top: 3%;
    text-align: center;
}
#iskolank img{
    width: 80%; 
    margin-bottom:10% ;
    margin-top: 1%;
}
#iskolank a{
    font-weight: bold !important;
    font-size: 20px !important;
    color: black;
}